<table class="table table-hover">
    <thead>
    <tr>
        <th>{% trans %}Name{% endtrans %}</th>
        <th>{% trans %}Unit{% endtrans %}</th>
        <th>{% trans %}Quantity{% endtrans %}</th>
        <th>{% trans %}Price{% endtrans %}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for material in invoice.warePurchasedMaterials %}
        <tr onclick="updatePurchasedMaterial({{ material.id }}, {{ invoice.id }})">
            <td>{{ material.material.name }}</td>
            <td>{{ material.material.unit }}</td>
            <td>{{ material.quantity|number_format(2, ',', ' ') }}</td>
            <td>{{ material.price }}</td>
            <td><a href="{{ path('delete_purchased_material', {'id': invoice.id, 'purchase': material.id}) }}">
                <span style="font-size: 18px; color: Tomato;">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>