<div class="card shadow mb-2">
    <div class="card-body">
    <div class="btn-group" role="group">
        <a type="button" class="btn mb-2 btn-outline-primary" href="{{ path('new_invoice') }}">{% trans %}New Invoice{% endtrans %}</a><!--
        --><a class="btn mb-2 btn-outline-primary" href="{{ path('purchase') }}">{% trans %}Invoice list{% endtrans %}</a><!--
        --><a class="btn mb-2 btn-outline-primary" href="{{ path('analytics') }}">{% trans %}Statistic{% endtrans %}</a>
    </div><br/>
    {% if invoice is defined %}
    <div class="btn-group" role="group">
        <a class="btn mb-2 btn-outline-primary btn-sm" href="{{ path('edit_invoice', {'id': invoice.id}) }}">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        {% trans %}Edit{% endtrans %}</a><!--
        --><a type="button" class="btn mb-2 btn-outline-danger btn-sm" href="{{ path('delete_invoice', {'id': invoice.id}) }}">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {% trans %}Delete{% endtrans %}</a><!--
        --><a class="btn mb-2 btn-outline-primary btn-sm" href="{{ path('purchase') }}">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {% trans %}Back{% endtrans %}</a>
    </div>
    {% endif %}

    {% if purchases is defined %}
    <form>
        <div class="search">
            <input id="example-helping" class="form-control" type="text" name="search"
                    placeholder="{% trans %}search by invoice number{% endtrans %}" value="{{ app.request.get('search') }}">
            <button type="submit" hidden>{% trans %}Search{% endtrans %}</button>
        </div>
    </form>
    {% endif %}
    </div>
</div>
