{{ form_start(form) }}
<div class="section_menu section_full">
    <div class="search">
        {{ form_widget(form.materialSearch, {'attr': {'class': 'first width60', 'placeholder': 'search here'}}) }}<!--
        --><button type="button" class="width20" onclick="purchaseMaterial(0, {{ invoice.id }})">{% trans %}New{% endtrans %}</button><!--
        -->{{ form_widget(form.submit, {'attr': {'class': 'last width20'}}) }}
        {{ form_widget(form.currentMaterialsPage, {'attr': {'hidden': 'true'}}) }}
    </div>
</div>
{{ form_end(form) }}