
<div class="card shadow" style="height: 100%">
    <div class="card-body">
    {{ form_start(form) }}
    <div class="input-group mb-3">
        {{ form_widget(form.materialSearch, {'attr': {'class': 'form-control', 'placeholder': 'search here'}}) }}
    <div class="input-group-append">
        {{ form_widget(form.currentMaterialsPage, {'attr': {'hidden': 'true'}}) }}
        <button type="button" class="btn btn-outline-primary" onclick="purchaseMaterial(0, {{ invoice.id }})">
            <span class="fe fe-21 fe-plus"></span>
        </button>
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-outline-primary',
        'id': 'button-addon2'}}) }}
    </div>
    </div>
    {{ form_end(form) }}
    </div>
</div>
