{% extends 'base.html.twig' %}

{% block title %}Kuro naudojimas!{% endblock %}

{% block body %}
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Valst.Nr.</th>
                <th>Nuvažiuota</th>
                <th>Dyzelis</th>
                <th>Benzinas</th>
                <th>Dujos</th>
            </tr>
        </thead>
        <tbody>
        {% for auto in autos %}
            <tr bgcolor="#f2f5fa">
                <td>{{ auto.licensePlate }}</td>
                <td>{{ auto.brand }}</td>
                <td>
                    {% if auto.usage.class.diesel %}
                        ({{ auto.usage.class.diesel.fuelNorm|round(2) }})
                        <b>
                        {{ auto.usage.class.diesel.beginingStatus|round(2) }} /
                        {{ auto.usage.class.diesel.receivedStatus|round(2) }} /
                        {{ auto.usage.class.diesel.usedStatus|round(2) }} /
                        {{ auto.usage.class.diesel.endingStatus|round(2) }}
                        </b>
                    {% endif %}
                </td>
                <td>
                    {% if auto.usage.class.gasoline %}
                        ({{ auto.usage.class.gasoline.fuelNorm|round(2) }})
                        <b>
                        {{ auto.usage.class.gasoline.beginingStatus|round(2) }} /
                        {{ auto.usage.class.gasoline.receivedStatus|round(2) }} /
                        {{ auto.usage.class.gasoline.usedStatus|round(2) }} /
                        {{ auto.usage.class.gasoline.endingStatus|round(2) }}
                        </b>
                    {% endif %}
                </td>
                <td>
                    {% if auto.usage.class.gas %}
                        ({{ auto.usage.class.gas.fuelNorm|round(2) }})
                        <b>
                        {{ auto.usage.class.gas.beginingStatus|round(2) }} /
                        {{ auto.usage.class.gas.receivedStatus|round(2) }} /
                        {{ auto.usage.class.gas.usedStatus|round(2) }} /
                        {{ auto.usage.class.gas.endingStatus|round(2) }}
                        </b>
                    {% endif %}
                </td>
            </tr>
            <tr bgcolor="#fafafa">
                <td colspan="2">Start: {{ auto.usage.class.odometerStart }}, End: {{ auto.usage.class.odometerEnd }}</td>
                <td>
                    {% if auto.usage.class.diesel %}
                        distance current norm: {{ auto.usage.class.diesel.currentNormDistance|round(0) }}<br>
                        odometer end: {{ (auto.usage.class.diesel.currentNormDistance + auto.usage.class.odometerStart)|round(0) }}
                    {% endif %}
                </td>
                <td>
                    {% if auto.usage.class.gasoline %}
                        distance current norm: {{ auto.usage.class.gasoline.currentNormDistance|round(0) }}<br>
                        odometer end: {{ (auto.usage.class.gasoline.currentNormDistance + auto.usage.class.odometerStart)|round(0) }}
                    {% endif %}
                </td>
                <td>
                    {% if auto.usage.class.gas %}
                        distance current norm: {{ auto.usage.class.gas.currentNormDistance|round(0) }}<br>
                        odometer end: {{ (auto.usage.class.gas.currentNormDistance + auto.usage.class.odometerStart)|round(0) }}
                    {% endif %}
                </td>
            </tr>
            {% for item in received %}
                {% if item.transport %}
                {% if item.quantity > 0 and item.transport.id == auto.id %}
                    <tr>
                        <td></td>
                        <td>{% if item.fuel == 25 %}
                                gasoline
                            {% elseif item.fuel == 26 %}
                                diesel
                            {% elseif item.fuel == 27 %}
                                gas
                            {% endif %}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.date|date('Y-m-d') }}</td>
                        <td></td>
                    </tr>
                {% endif %}
                {% endif %}
            {% endfor %}
            <tr bgcolor="#d6d6d6">
                <td colspan="5">
                    <form method="get" action="{{ path('transport_form_submit', {'id': auto.id}) }}">
                        <input name="year" value="{{ year }}" hidden><input name="month" value="{{ month }}" hidden>
                        <label for="odometer">Odometras pabaigoje</label>
                        <input name="odometer" value="{{ auto.usage.class.odometerEnd }}"><br>
                        {% if auto.usage.class.diesel %}
                            <label>Diesel</label>
                            <input name="fuelNormDiesel" value="{{ auto.usage.class.diesel.fuelNorm }}">
                            <label>Likutis</label>
                            <input name="usedFuelDiesel" value="{{ auto.usage.class.diesel.endingStatus|round(2) }}">
                        {% endif %}
                        {% if auto.usage.class.gasoline %}
                            <label>Gasoline</label>
                            <input name="fuelNormGasoline" value="{{ auto.usage.class.gasoline.fuelNorm }}">
                            <label>Likutis</label>
                            <input name="usedFuelGasoline" value="{{ auto.usage.class.gasoline.endingStatus|round(2) }}">
                        {% endif %}
                        {% if auto.usage.class.gas %}
                            <label>Gas</label>
                            <input name="fuelNormGas" value="{{ auto.usage.class.gas.fuelNorm }}">
                            <label>Likutis</label>
                            <input name="usedFuelGas" value="{{ auto.usage.class.gas.endingStatus|round(2) }}">
                        {% endif %}
                        <br>
                        {% if auto.usage.class.gas and auto.usage.class.gasoline %}
                            <label for="part">Gasoline percent</label>
                            <input name="part">
                        {% endif %}

                        <button type="submit">click</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <table class="table">
        {% for item in received %}
            {% if not item.transport %}
            <tr>
                <td>{{ item.quantity }}</td>
                <td>
                {% if item.fuel == 25 %}
                    gasoline
                {% elseif item.fuel == 26 %}
                    diesel
                {% elseif item.fuel == 27 %}
                    gas
                {% endif %}
                </td>
                <td>{{ item.date|date('Y-m-d') }}</td>
                <td>
                    <form method="get" action="{{ path('add_transport_fuel') }}">
                        <input name="year" value="{{ year }}" hidden><input name="month" value="{{ month }}" hidden>
                        <input name="purchaseID" value="{{ item.id }}" hidden>
                        <input name="licensePlate" placeholder="auto valst. Nr.: DHH034">
                        <button type="submit">Submit</button>
                    </form>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
