{{ form_start(form) }}
<div class="card shadow mb-2" style="height: 100%">
    <div class="card-body">
    <div class="input-group" role="group">
        {{ form_widget(form.search, {'attr': {'class': 'form-control', 'placeholder': 'search here', 'value': app.request.cookies.get('search') }}) }}
        {% if writeOff.object and writeOff.object.hasReserved %}
            <form method="get">
            {{ form_widget(form.category, {'attr': {'class': 'custom-select', 'value': app.session.get('category') }}) }}
            {{ form_widget(form.submit, {'attr': {'class': 'btn mb-2 btn-outline-primary'}}) }}
            <button class="btn mb-2 btn-outline-primary" value="change" name="reserved" type="submit">
                {% if app.session.get('reserved') %}
                    Free
                {% else %}
                    Reserved
                {% endif %}
            </button>
            </form>
        {% else %}
            {{ form_widget(form.category, {'attr': {'class': 'width40', 'value': app.session.get('category') }}) }}<!--
            -->{{ form_widget(form.submit, {'attr': {'class': 'width19 last'}}) }}
        {% endif %}
    </div>
    </div>
</div>
{{ form_end(form) }}