{% extends 'base2.html.twig' %}

{% block title %}{% trans %}Update Invoice details{% endtrans %}{% endblock %}

{% block body %}
<div class="container-fluid">
    {% include('purchase/partials/menu.html.twig') %}

    {% include 'purchase/partials/invoice_header.html.twig' %}
    
        <div class="row invoiceHead">
            <div class="col-6">
                {% include 'purchase/partials/search.html.twig' %}
            </div>
            <div class="col-6">
                {% include 'purchase/partials/invoice_sum.html.twig' %}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
            <div class="card shadow">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Unit{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for name in materials %}
                    <tr onclick="purchaseMaterial({{ name.id }}, {{ invoice.id }})">
                        <td>{{ name.name }}</td>
                        <td>{{ name.unit }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </div>
                <div>
                    {{ helper.currentMaterialsPage }} /
                    {{ helper.maxMaterialsPage }}
                    {# {% include 'helper/pagination.html.twig' with {
                        currentFilters: { myFilter: '' },
                        currentPage: helper.currentMaterialsPage,
                        lastPage: helper.maxMaterialsPage,
                        paginationPath: './',
                        showAlwaysFirstAndLast: true
                    } only %} #}
                </div>
            </div>
            <div class="col-6">
                {% include 'purchase/partials/invoice_materials.html.twig' %}
            </div>
        </div>
        <script>
            function purchaseMaterial(id, invoice) {
                window.location.replace(invoice + '/' + id);
            }

            function updatePurchasedMaterial(id, invoice) {
                window.location.replace(invoice + '/update/' + id);
            }

        </script>
    </div>
{% endblock %}
